.contaner2{

    /* width: 100vw;
    height: 100vh; */
    background-color: rgb(28, 36, 43);
    opacity: 30%;

}


body > table {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(17, 46, 100);
}


table#myBoard td{
    width: 100px;
    height: 100px;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    font: bold 36px ;
}



 td#cell1, td#cell2, td#cell3, td#cell4, td#cell5, td#cell6 {
    border-bottom: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

td#cell1, td#cell2, td#cell5, td#cell4, td#cell7, td#cell8 {
    border-right: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);

} 

div#boardMessage {
    margin: 0.5em;
    font: 24px sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div#reset{
    margin-top: 5px;
    width: 80px;
    height: 50px;
    color: rgb(22, 9, 97);
    text-align: center;
    border: solid rgb(15, 0, 68) 1px;
    background-color: rgb(255, 255, 255);
        border-radius: 40%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

div#reset:hover{
    background-color: rgb(42, 127, 184);
}

td:hover{
    background-color: rgb(51, 90, 126);
}

.statuseDiv{
    width: 50%;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
}

#contaner {

    width: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

body > div #player2{
    text-align: left;
    direction: rtl !important;
    margin: 0;
    padding: 0;
    float: center;
    text-justify: inter-word;


}

body > div #player1{
    text-align: right;
    margin: 0;
    padding: 0;
    text-justify: inter-word;


}

/* {
        font-family: Trattatello,fantasy;
} */

